<header style="background-image: url('https://features.dailybruin.com/2018/spring-sing/img-up/header.jpg');">
 <div id="spring">SPRING SING</div>
 <div id="sing">2018</div>
 <div class="container">
  <div class="chevron"></div>
  <div class="chevron"></div>
  <div class="chevron"></div>
</div>
</header>
