<header>
 <div id="spring"><span style="padding-left: 10vw; background-color: black;">WEST</span><span style="padding-right: 10vw; background-color: white; color: black;">WOOD</span></div>
 <div id="sing"><span style="padding-left: 10vw; background-color: white; color: black;">SUB</span><span style="padding-right: 10vw; background-color: black;">DIVIDED</span></div>
 <div class="container">
  <div class="chevron"></div>
  <div class="chevron"></div>
  <div class="chevron"></div>
</div>
</header>

