<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <base href="{{ base_url }}">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">

  <!-- Favicon -->


  <!-- Facebook -->
  <meta property="fb:app_id" content="123456789">
  <meta property="og:url" content="http://example.com/page.html">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:image" content="http://example.com/image.jpg">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:site_name" content="Site Name">
  <meta property="og:locale" content="en_US">
  <meta property="article:author" content="">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@dailybruin">
  <meta name="twitter:creator" content="@individual_account">
  <meta name="twitter:url" content="http://example.com/page.html">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:image" content="http://example.com/image.jpg">


  <!-- Web Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Federo|Poiret+One" rel="stylesheet">

  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" integrity="sha256-oSrCnRYXvHG31SBifqP2PM1uje7SJUyX0nTwO2RJV54=" crossorigin="anonymous">

  <link rel="stylesheet" href="./css/index.css">

</head>
