<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {# <base href="https://features.dailybruin.com/2018/spring-sing/"> #}
  <title>Westwood Subdivided | Daily Bruin</title>
  <meta name="description" content="In November, students and other Westwood community members announced plans to form a new neighborhood council because they felt the current one did not adequately address their issues. The council election date is slated for May 22.">

  <!-- Favicon -->


  <!-- Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="Westwood Subdivided | Daily Bruin">
  <meta property="og:image" content="https://dailybruin.com/images/2018/05/web.wwf_.quad_.luna_.westwood.picA_.file_-640x426.jpg">
  <meta property="og:description" content="In November, students and other Westwood community members announced plans to form a new neighborhood council because they felt the current one did not adequately address their issues. The council election date is slated for May 22.">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@dailybruin">
  <meta name="twitter:title" content="Westwood Subdivided | Daily Bruin">
  <meta name="twitter:description" content="In November, students and other Westwood community members announced plans to form a new neighborhood council because they felt the current one did not adequately address their issues. The council election date is slated for May 22.">
  <meta name="twitter:image" content="https://dailybruin.com/images/2018/05/web.wwf_.quad_.luna_.westwood.picA_.file_-640x426.jpg">


  <!-- Web Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Federo|Overpass:700|Lora" rel="stylesheet">

  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" integrity="sha256-oSrCnRYXvHG31SBifqP2PM1uje7SJUyX0nTwO2RJV54=" crossorigin="anonymous">

  <link rel="stylesheet" href="./css/index.css">

</head>
