<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <base href="https://features.dailybruin.com/2018/spring-sing/">
  <title>Spring Sing 2018 | Daily Bruin</title>
  <meta name="description" content="Learn more about the performers at Spring Sing 2018">

  <!-- Favicon -->


  <!-- Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="Spring Sing 2018 | Daily Bruin">
  <meta property="og:image" content="https://features.dailybruin.com/2018/spring-sing/img/web.a&e.company.IA.jpg">
  <meta property="og:description" content="Learn more about the performers at Spring Sing 2018">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@dailybruin">
  <meta name="twitter:title" content="Spring Sing 2018 | Daily Bruin">
  <meta name="twitter:description" content="Learn more about the performers at Spring Sing 2018">
  <meta name="twitter:image" content="https://features.dailybruin.com/2018/spring-sing/img/web.a&e.company.IA.jpg">


  <!-- Web Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Federo|Poiret+One|Lora" rel="stylesheet">

  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" integrity="sha256-oSrCnRYXvHG31SBifqP2PM1uje7SJUyX0nTwO2RJV54=" crossorigin="anonymous">

  <link rel="stylesheet" href="./css/index.css">

</head>
