<div class="section-header">
  <h1>Title here</h1>
  <div class="main-line"></div>
  <div class="second-line"></div>
</div>
<div class="band">
  <div class="item">
    <a href="" class="card">
      <img src="img/1.jpg">
      <h2>Josh Rosen</h2>
    </a>
  </div>

  <div class="item">
    <a href="" class="card">
      <img src="img/2.jpg"/>
      <h2>Student Alumni Association</h2>
      {# <article>
        <h1>Headline goes here</h1>
        <span>author</span>
      </article> #}
    </a>
  </div>

  <div class="item">
    <a href="" class="card">
      <img src="img/3.jpg"/>
      <h2>Company</h2>
      {# <article>
        <h1>Headline goes here</h1>
        <span>author</span>
      </article> #}
    </a>
  </div>
</div>
