<div class="section-header">
  <h1>Solos</h1>
  <div class="main-line"></div>
  <div class="second-line"></div>
</div>
<div class="band">
  {% for thing in solos %}
  <div class="item">
    <a href="{{thing.Name}}.html" class="card">
      <img src="img/{{thing.Image}}">
      <h2>{{thing.Name}}</h2>
    </a>
  </div>
  {% endfor %}
</div>

<div class="section-header">
  <h1>Duets</h1>
  <div class="main-line"></div>
  <div class="second-line"></div>
</div>
<div class="band">
  {% for thing in duets %}
  <div class="item">
    <a href="{{thing.Name}}.html" class="card">
      <img src="img/{{thing.Image}}">
      <h2>{{thing.Name}}</h2>
    </a>
  </div>
  {% endfor %}
</div>

<div class="section-header">
  <h1>Bands</h1>
  <div class="main-line"></div>
  <div class="second-line"></div>
</div>
<div class="band">
  {% for thing in bands %}
  <div class="item">
    <a href="{{thing.Name}}.html" class="card">
      <img src="img/{{thing.Image}}">
      <h2>{{thing.Name }}</h2>
    </a>
  </div>
  {% endfor %}
</div>

<div class="section-header">
  <h1>Extras</h1>
  <div class="main-line"></div>
  <div class="second-line"></div>
</div>
<div class="band">
  {% for thing in extras %}
  <div class="item">
    <a href="{{thing.Name}}.html" class="card">
      <img src="img/{{thing.Image}}">
      <h2>{{thing.Name}}</h2>
    </a>
  </div>
  {% endfor %}
</div>
