footer {
  margin-top:  15px;
  text-align: center;
  color: white;
  padding-bottom: 10px;
  font-family: 'Lora';
  padding-bottom: 100px;

  a {
    text-decoration: none;
    color: white;
  }

}

.footer__daily-bruin-image {
  height: 3rem;
}
