<footer>
  <div class="footer__text">
    <div>Copyright © The Daily Bruin 2018</div>
    <div>
      Built with Suzy’s ❤️ in Kerckhoff 118 by
      {% for developer in developers %}
        {{ developer.name }},
        {# {{ "," if loop.revindex != 1 else "and" }} #}
      {% endfor %}
    </div>
    <div>
      Questions, comments or corrections? Email <a href="mailto:online@dailybruin.com">online@dailybruin.com</a>.
    </div>
  </div>

</footer>
