{% extends "./components/default-layout.njk" %}

{% block content %}
{% include "./components/header/header.njk" %}
{% include "./components/section/section.njk" %}
{# {% include "./components/footer/footer.njk" %} #}
<script src="js/coolstuff.js"></script>
<script src="js/section.js"></script>
{% endblock %}
